USERNAME="USERNAME"
PASSWORD="PASSWORD"
CYBEAT_DATABASE="CYBEAT_DATABASE"
CF_WORKER_SECRET="CF_WORKER_SECRET_VALUE"
JWT_AUTH_SECRET="JWT_AUTH_SECRET_VALUE"
API_BASE_PATH="API_BASE_PATH"
APP_URL="APP_URL"